/*
Agasha Ratam
Version Jul 17, 2020

Color 1: #f9f9f9 WHITE
Color 2: #444444
*/

* {
	margin: 0;
}

body {
	background-color: #f9f9f9;
	margin: 0px;	
}

rect.skeleton {
	stroke-width: 0px;
	stroke: red;
	fill: none;
}

#page-title {
	fill: #444444;
}
#page-title-label {
	font-family: Times New Roman, sans;
	font-size: 24px;
	stroke: #f9f9f9;
	fill: #f9f9f9;
}

rect.dilemma {
	stroke-width: 1px;
	stroke: #444444;
	fill: #dddddd;
}
rect.dilemma.selected {
	fill: #444444;
}
rect.dilemma.hover {
	fill: #444444;
}
rect.clickable {
	opacity: 0;
}

.deontological {
	fill: #af8dc3;
	color: #af8dc3;
}
.utilitarian {
	fill: #7fbf7b;
	color: #7fbf7b;
}

text.dilemma {
	font-size: 15px;
	stroke: #222222;
	fill: #222222;
	stroke-width: 0.5px;
}
text.dilemma.hover {
	stroke: #f9f9f9;
	fill: #f9f9f9;
}
text.dilemma.selected {
	stroke: #f9f9f9;
	fill: #f9f9f9;
}

.stance {
	font-size: 22px;
	stroke: 0.6px;
}

line {
	stroke: #dddddd;
	opacity: 0.5;
}

#line-labels {
	stroke: #dddddd;
	fill: #dddddd;

}	


/* Figure: bars and labels */
rect.row-plot {
	stroke: #222222;
	stroke-width: 0.3px;
}
rect.row-plot#mouseover {
	stroke-width: 2px;
}
text.row-plot {
	stroke: #222222;
	fill: #222222;
	stroke-width: 0.5px;
}


/* Figure: tooltip */
#background {
	fill: black;
	opacity: 0;
}
.tooltip-area {
	opacity: 0;
}
#tooltip-box {
	stroke: #222222;
	fill: #f9f9f9;
}

#tooltip {
	font-size: 12px;
}

.tooltip {
	font-size: 16px;
	stroke: #f9f9f9;
	fill: #f9f9f9;
}

.tooltipSmall {
	font-size: 11px;
	stroke: #f9f9f9;
	fill: #f9f9f9;
}
div.textbox {
	height: 100%;
	overflow: auto;
}
p.source {
	text-align: right;
}
p.gap {
	margin: 15px;
}
#tooltip-area {
	opacity: 0;
}

.invisible {
	opacity: 0;
}

b {
	font-size: 13px;
}
